* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 442px;
    background: red;
}

.game__header {
    margin: 0 auto;
    height: 10%;
    width: 100%;
    text-align: center;

}

.game__body {
    display: flex;
    height: 100%;
}

.box {
    flex-direction: column;
    height: 100%;
    
}

.box.left {
   
    width: 25%;
    background-repeat: no-repeat;
    transition: .07s all ease;
}

.box.game {
    width: 60%;
    background: black;
    height: 100%;
    overflow: hidden;
}

.box.right {
    width: 25%;
    background-repeat: no-repeat;
}