* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 450px;
    background: red;
    border: 4px solid black;
    overflow: hidden;
    border-radius: 20px;
}

.game__header {
    margin: 0 auto;
    height: 8%;
    width: 100%;
    text-align: center;
    z-index: 9999;
    position: static;

}

.game__body {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;

}


.box {
    flex-direction: column;
    height: 100%;
    overflow: auto;
    overflow: hidden;
    
}

.box.left {
   
    width: 25%;
    background-repeat: no-repeat;
    transition: .07s all ease;

}

.box.game {
    width: 60%;
    height: 100%;
    overflow: hidden;
    background-image: url('../images/track1.png');
    transition: .45s all ease;

}

.box.right {
    width: 25%;
    background-repeat: no-repeat;
    transition: .07s all ease;
}

.player {
    height: 75px;
    width: 35px;
    margin-left: 200px;
    background-repeat: no-repeat;
    margin-top: 300px;
    transition: .8s all ease;
}

#npc {
    position: absolute;
    height: 165px;
    margin-top: -100px;
    width: 80px;
    z-index: 3;
    background-image: url('../images/npc1.png');
}
